<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  
  <!--registrar no arquivo de configurações da aplicação (App.config ou Web.config) 
      o DbProviderFactory referente ao uso do PostgreSQL-->
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider"
          invariant="Npgsql"
          description=".Net Data Provider for PostgreSQL"
          type="Npgsql.NpgsqlFactory, Npgsql"
          support="FF" />
    </DbProviderFactories>
  </system.data>
  
  
  <connectionStrings>
    <!--Conexao com SQLServer
        Cria um banco de dados novo caso ele ainda não exista-->
    <!--name = Deve ser o memso nome da classe de contexto-->
    <add name="Contexto" connectionString="Data Source=Localhost\SQLExpress; Initial Catalog=ExemploMigration; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--ou / com senha-->
    <add name="TechCargoDB" connectionString="Server=HQ-TGL-HMSQL-01\DESENVOLVIMENTO;Database=TechCargo;User ID=user_techcargo; password=TechCargo@iklo;Trusted_Connection=False;" providerName="System.Data.SqlClient" />

    <!--Conexao com SQLServerExpress (LocalDb)
        Cria um banco de dados novo caso ele ainda não exista, Dentro do VS-->
    <add name="LocalContexto" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ExMigration;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    
    <!--Conexao com PostgreSQL-->
    <add name="PgContexto" connectionString="server=localhost;Port=5432; user id=postgres;password=root; database=DbCliente" providerName="Npgsql" />


  </connectionStrings>
</configuration>